/* :root{
    
} */

*{
    margin: 0px;
    padding: 0px;
}


/* Entete */
header{
    width: 100%;
    height: 100vh;
    height: auto;
    /* position: relative;
    top: 0px; */
    background-image: url(/img/commerce.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

}

.header_info{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
    padding-top: 5px;
    z-index: 1;
}

.header_info ::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 100, 50, 0.06);
    width: 100%;
    height: 30px;
    z-index: 0;
}

.header_info div{
    font-size: small;
    color: darkblue;
    padding: 2px;
}

.header_info div a{
    color: darkblue;
    text-decoration: none;
}

.header_info img{
    width: 20px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
}


/* media querry */

@media (max-width : 700px) {
    #supp{
        display: none;
    }
    .header_info_items{
        font-size: 0.6rem;
    }

    .header_info ::before{
        display:initial;
    }
}



.nav_barre{
    /* border-bottom: 1px solid darkblue; */
    height: auto;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}

.nav_barre img {
    width: 80px; 
    height: 80px;
    position: relative;
    border-radius: 100%;
    margin-bottom: -20px;
}
.nav_barre ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-end;
    width: 65%;
    margin: 0px;
    margin-bottom: 1px;
    border-bottom: 2px solid darkblue;
}

.nav_barre ul li{
    color: rgb(3, 3, 104);
    font-size: 1.5em;
}

.nav_barre ul li :hover{
    color: darkblue;
    border-bottom: 4px solid darkblue;
    font-size: 1em;
}

.nav_barre a{
    text-decoration: none;
}

@media (max-width : 420px) {
    nav{
        height: 50px;
        position: relative;
        top: 0px;
        margin-top: 20px;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        
    } 

    .nav_barre ul li{
        color: rgb(3, 3, 104);
        font-size: 1em;
    }
    
}


/* ------------------------------------------------------------------- */
.header_text{
    width: 350px;
    height: 250px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(148, 75, 221, 0.4);
    /* margin-top: 50px;
    margin-left: 35px; */
    padding: 25px 40px;
    color: white;
}

.header_container_text{
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-left: 25px; 
    display: flex;
    justify-content: flex-start;
    
}

@media (max-width : 420px) {
    .header_container_text{
        width: 100%;
        height: auto;
        margin-top: 50px;
        padding-left: 5px; 
        display: flex;
        justify-content: flex-start;
    }
    
}

/* ------------------------------------------------------------------- */

.header_icone{
    width: 100%;
    height: 90px;
    margin-top:93px ;
    background-color: rgba(148, 75, 221, 0.4);
    display: flex;
    justify-content: space-around;
    
}
.header_icone img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    padding-bottom: 10px;
    /* border-bottom: 6px solid darkblue; */
    
}

.header_icone #logo_camion {
    width: 80px;
    height: 80px;
}

.header_icone a :hover{
   
    border-bottom: 6px solid darkblue;
}

